<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/e9eb945c7b.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="style.css">
    <title>1996 collections</title>
</head>
<body>
  <!-- partials -->
  <div  class="navbar-fixed">
    <%- include('./partials/nav.ejs') %>
  </div>

<a href="/manga/new">Add a new manga</a>
 <h4>Feel free to remove any existing mangas</h4>
      <ul>
        <% for(let i = 0; i < mangas.length; i++){ %>
      <li>
          <h2> <%= mangas[i].title%></h2>
          <a href="/manga/<%=mangas[i].id %>"><img class="mangaimg"src="<%= mangas[i].img%>" alt=""></a> <br/>
          <form action="/manga/<%= mangas[i].id %>?_method=DELETE" method="POST">
          <button class="btn waves-effect waves-light" type="submit" value="DELETE">Delete</button>
         </form>
          <a href="/manga/<%= mangas[i].id %>/edit"> Edit </a>
      </li>
    <%}%>
   
</ul>

<footer id="fixfoot" class="page-footer">
  <div class="container">
    <div class="row">
     
      
        <h5  class="white-text">&copy Copyright 2020, 1996 collections</h5>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  
  </div>
</footer>





       

</body>
</html>